@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: transparent;
}

html, body {
  height: 100%;
}

button:focus-visible, a:focus-visible, input:focus-visible, textarea:focus-visible {
  outline: none;
}


